@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-code: var(--font-fira-code);
  --font-space: var(--font-space-mono);
  --animate-text-gradient: text-gradient 6s linear infinite;

  @keyframes text-gradient {
    from {
      background-position: 0% 50%;
    }

    to {
      background-position: 200% 50%;
    }
  }
}
